@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Mais informações:</p>
<p>@ViewData["email"]</p>
<p>Linkedin: <a href="@ViewData["linkd"]">Bruno Marques</a></p>